<%= form_for @image, :html => {multipart: true,  :class => "form-horizontal image" } do |f| %>

    <% if @image.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <% @image.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :name, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
            <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <%=f.error_span(:name) %>
    </div>
    <div class="form-group">
        <%= f.label :picture, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
            <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
        </div>
        <%=f.error_span(:picture) %>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    images_path, :class => 'btn btn-default' %>
        </div>
    </div>

<% end %>

<script type="text/javascript">
    $('#image_picture').bind('change', function(){
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5){
            alert('Maximum file size is 5MB');
        }
    });
</script>
