<%- model_class = Image -%>
<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:picture) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
    </thead>
    <tbody>
        <% @images.each do |image| %>
            <tr>
                <td><%= link_to image.name, image_path(image) %></td>
                <td><%= image_tag image.picture.url, size: "100x100" %></td>
                <td>
                    <%= link_to t('.show', :default => t("helpers.links.show")),
                              image_path(image), :class => 'btn btn-default btn-xs' %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_image_path(image), :class => 'btn btn-default btn-xs' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              image_path(image),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_image_path,
            :class => 'btn btn-primary' %>
